@tailwind base;
@tailwind components;
@tailwind utilities;

.source-iframe {
    height: calc(100vh - 80px) !important;
}
.audio-btn {
    background-color: black !important;
}
.sidebar-link:hover {
    text-decoration: none !important;
}